.panel2 {
  min-height: 50vh;
  padding: 4rem 0 8rem;

  @media screen and (min-width: #{$mq-l}) {
    min-height: 100vh;
  }

  a[pagescroller] {
    position: absolute;
    top: 0;
  }

  .panel {
    padding: 0 4rem 4rem;
  }

  @media screen and (min-width: #{$mq-l}) {
    padding: 0;

    .panel {
      padding: 4rem 4rem 12rem;
    }
  }
}
