<div class="row row--center stage panel2">
  <a id="content-2" pagescroller></a>
  <div class="col-m-6">
    <section class="panel welcome">
      {{> @article article-welcome-config}}
    </section>
  </div>
  <div class="col-m-6">
    <section class="panel explained">
      {{> @article article-explained-config}}
    </section>
  </div>
</div>
