<div class="row container panel2">
  <div class="col-m-6">
    <section class="panel welcome">
      {{> @article article-welcome-config}}
    </section>
  </div>
  <div class="col-m-6">
    <section class="panel explained">
      {{> @article article-explained-config}}
    </section>
  </div>
</div>
