<div class="row row--center row--end stage panel5">
  <a id="content-5" pagescroller></a>
  <div class="col-m-4">
    <section class="panel data">
      {{> @article article-config}}
      <div class="row">
        <div class="col-m-12">
          {{> @article moreinfos-config}}
        </div>
        <div class="col-m-6">
          <p><a href='https://chat.gildedernacht.ch/' target='blank'>{{> @icon icon-discord}}</a></p>
        </div>
        <div class="col-m-6">
          <p><a href='https://www.facebook.com/events/2057218034550086/' target='blank'>{{> @icon icon-facebock}}</a></p>
        </div>
      </div>
      <div class="row row--align-center">
        <div class="col-m-12">
          {{> @article partner-thanks}}
        </div>
        <div class="col-m-8">
          <a href="https://www.allerley.ch/" target="blank">
            {{> @figure allerley}}
          </a>
        </div>
        <div class="col-m-8">
          <a href="http://www.tacticagames.ch/" target="blank">
            {{> @figure tactica}}
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="col-m-8">
    <section class="panel contact">
      {{> @contact contact-config}}
    </section>
  </div>
</div>