extends ../../layouts/_styleguide-layout.jade

block moduleTitle
  | Icons

block documentation
  include:marked README.md

block content
  div.styleguide-icons__icon-list
    
    div.styleguide-icons__icon
      pre
        code arrow-left
      +icon('arrow-left')
      +icon('arrow-left', 'icon--m')
      +icon('arrow-left', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code arrow-right
      +icon('arrow-right')
      +icon('arrow-right', 'icon--m')
      +icon('arrow-right', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code basket-add
      +icon('basket-add')
      +icon('basket-add', 'icon--m')
      +icon('basket-add', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code basket-checkmark
      +icon('basket-checkmark')
      +icon('basket-checkmark', 'icon--m')
      +icon('basket-checkmark', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code basket-close
      +icon('basket-close')
      +icon('basket-close', 'icon--m')
      +icon('basket-close', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code basket-download
      +icon('basket-download')
      +icon('basket-download', 'icon--m')
      +icon('basket-download', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code basket-update
      +icon('basket-update')
      +icon('basket-update', 'icon--m')
      +icon('basket-update', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code basket
      +icon('basket')
      +icon('basket', 'icon--m')
      +icon('basket', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code close
      +icon('close')
      +icon('close', 'icon--m')
      +icon('close', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code download
      +icon('download')
      +icon('download', 'icon--m')
      +icon('download', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code downloadcenter-checkmark
      +icon('downloadcenter-checkmark')
      +icon('downloadcenter-checkmark', 'icon--m')
      +icon('downloadcenter-checkmark', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code export-pdf
      +icon('export-pdf')
      +icon('export-pdf', 'icon--m')
      +icon('export-pdf', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code loading
      +icon('loading')
      +icon('loading', 'icon--m')
      +icon('loading', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code login
      +icon('login')
      +icon('login', 'icon--m')
      +icon('login', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code logout
      +icon('logout')
      +icon('logout', 'icon--m')
      +icon('logout', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code memorize
      +icon('memorize')
      +icon('memorize', 'icon--m')
      +icon('memorize', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code menu-close
      +icon('menu-close')
      +icon('menu-close', 'icon--m')
      +icon('menu-close', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code menu-open
      +icon('menu-open')
      +icon('menu-open', 'icon--m')
      +icon('menu-open', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code search
      +icon('search')
      +icon('search', 'icon--m')
      +icon('search', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code user
      +icon('user')
      +icon('user', 'icon--m')
      +icon('user', 'icon--l')
    
