{{> @language-switcher}}
<hr />
<p i18n="demo.label">Hello World</p>
<input type="text" placeholder="Hello World" i18n="demo.label" />
<input type="text" placeholder="Hello World" value="Value shouldn't change!" i18n="demo.label" />
<select>
  <option i18n="demo.label">Hello World</option>
</select>