.panel5 {
  min-height: 50vh;
  padding: 4rem 0 8rem;

  @media screen and (min-width: #{$mq-l}) {
    min-height: 100vh;
  }

  a[pagescroller] {
    position: absolute;
    top: 60vh;
  }

  .panel.contact {
    padding: 0 1rem 4rem;
  }

  .panel.data {
    padding: 0 4rem 4rem;
  }

  @media screen and (min-width: #{$mq-l}) {
    .panel.contact {
      min-height: 100vh;
    }

    .panel.data {
      min-height: 100vh;
    }
  }

  @media screen and (min-width: #{$mq-l}) {
    padding: 0;

    .panel {
      padding: 4rem 4rem 12rem;
    }
  }

  .icon {
    display: block;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-content: center;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100%;
  }
}