<div class="row container panel5">
  <div class="col-m-4">
    <section class="panel data">
      {{> @article article-config}}
      {{> @icon icon-config}}
    </section>
  </div>
  <div class="col-m-6">
    <section class="panel contact">
      {{> @contact contact-config}}
    </section>
  </div>
</div>