<div class="row container panel5">
  <div class="col-m-4">
    {{> @article article-config}}
    {{> @icon icon-config}}
  </div>
  <div class="col-m-6">
    {{> @contact contact-config}}
  </div>
</div>