# IDEs
/.idea
*.iml
*~
.vscode/*

# System files
.DS_Store

# Caches / Tmp Folders
tmp/
.sass-cache/
node_modules/

# Logs
log/
yarn-error.log
yarn.lock

# Ignored Build Folders
assets/
dist/
build/
public/

# Custom
patterns/translations.js
secrets.json
