.panel2 {
  // max-height: 100vh;
  // overflow-x: hidden;
  // overflow-y: auto;
  padding: 0 2rem;

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-content: center;
  }

  .map {
    width: 100%;
    height: 50vh;
    background: $color--black-20;
    padding: 4rem;

    .mapbox {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (min-width: #{$mq-m}) {
    .map {
      height: 100vh;
    }
  }
}
