<div class="row container panel2">
  <div class="col-m-6">
    <section class="panel data">
      {{> @article article-config}}
    </section>
  </div>
  <div class="col-m-6">
    <section class="panel map">
      <div class="mapbox"></div>
      <nav class="marker-menu">
        <a href="#" class="show-extern">Open in Google Maps</a>
        <ul></ul>
      </nav>
    </section>
  </div>
</div>
