<div class="row container panel2">
  <div class="col-m-6">
    <section class="panel data">
      {{> @article article-config}}
    </section>
  </div>
  <div class="col-m-6">
    <section class="panel map">
      MAP
    </section>
  </div>
</div>
