<div class="row row--center stage panel4b">
  <a id="content-4" pagescroller></a>
  <div class="col-m-12">
    <section class="panel data">
      {{> @article panel4-article-config}}
    </section>
  </div>
</div>
