.keep-me-posted {
  display: flex;
  align-items: center;
  width: 100%;

  .keep-me-posted-step {
    display: none;
    opacity: 0;
    position: relative;
    z-index: 1;
    transition: opacity 300ms ease-in-out;

    &.active {
      display: block;
      opacity: 1;
      z-index: 100;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
