{{render '@header'}}
<main class="page-content">
  <div class="row container row--align-center">
    <div class="col-xs-10 col-m-8">
      {{> @article coc-article-config}}
    </div>
  </div>
</main>
{{render '@footer'}}
