{{render '@header'}}
<main class="page-content">
  <section>
    {{> @content-panel1 panel1-config}}
  </section>
  <section>
    {{> @content-panel2 panel2-config}}
  </section>
  <section>
    {{> @content-panel3 panel3-config}}
  </section>
  <section>
    {{> @content-panel4b panel4-config}}
  </section>
  <section>
    {{> @content-panel5b panel5-config}}
  </section>
</main>
{{render '@footer'}}
