{{render '@header'}}
<main class="page-content">
  <section>
    <a id="page1" pagescroller></a>
    {{> @content-panel1 panel1-config}}
  </section>
  <section>
    <a id="page2" pagescroller></a>
    {{> @content-panel2 panel2-config}}
  </section>
  <section>
    <a id="page3" pagescroller></a>
    {{> @content-panel3 panel3-config}}
  </section>
  <section>
    <a id="page4" pagescroller></a>
    {{> @content-panel4 panel4-config}}
  </section>
  <section>
    <a id="page5" pagescroller></a>
    {{> @content-panel5 panel5-config}}
  </section>
</main>
{{render '@footer'}}
