{{render '@header'}}
<main class="page-content">
  <section>
    {{> @content-panel1 panel1-config}}
  </section>
  <section>
    {{> @content-panel2 panel2-config}}
  </section>
  <section>
    {{> @content-panel3 panel3-config}}
  </section>
  <section>
    {{> @content-panel4b panel4-config}}
  </section>
  <section>
    {{> @content-panel5 panel5-config}}
  </section>
	<section>
		<div class="row row--center row--end stage" style="margin-bottom: 100px;">
			<div class="col-m-12">
				<p>Ein Dankeschön an unsere Partner:</p>
				<a href="https://www.allerley.ch/" target="_blank">
					<img style="margin: 20px; width: 289px" src="Allerley-Logo.png" alt="Partner Allerley"/>
				</a>
				<a href="http://www.tacticagames.ch/" target="_blank">
					<img style="margin: 20px; width: 259px" src="Tactica-Logo.png" alt="Partner Tactica"/>
				</a>
			</div>
		</div>
	</section>
</main>
{{render '@footer'}}
