[role='textarea'] {
  align-items: flex-end;
  border: 0.1rem solid $color--black;

  strong {
    display: none;
  }

  &.fullbleed {
    .text-container {
      width: 100%;
    }
  }

  .text-container {
    width: 100%;

    textarea {
      box-sizing: border-box;
      resize: none;
      padding: 1.6rem 3.2rem 0.8rem 1.6rem;
      border: 0;
      width: 100%;
      font-family: $base--font-family;
      font-weight: $base--font-weight-light;
      line-height: 1.6;
      overflow: hidden;

      &:focus:valid {
        outline: 0;
      }
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
      right: 0;
      bottom: 0;
      display: block;
      background: no-repeat center center;
      //background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="' + $color--black + '" d="M27.6 10.667l-11.6 11.6-11.467-11.6-1.067 1.067 12.533 12.4 12.533-12.4z"></path></svg>');
      background-color: grey;
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &[data-valid-label] {
    &::before {
      top: 0.8rem;
      transform: none;
    }
  }

  &[data-error-label] {
    &::before {
      top: 0.8rem;
      transform: none;
    }
  }
}