{{#with button}}
<section class="form-group {{#if label-text}}button-text{{/if}} {{#if label-icon}}button-icon{{/if}} {{button-class}}" role="button" {{#if button-attr}}{{button-attr}}{{/if}}>
  <button {{#if button-type}}type="{{button-type}}"{{/if}} {{#if button-slider}}item-slider="{{button-slider}}"{{/if}}>
    {{> @label}}
  </button>
  <aside class="messages"></aside>
</section>
{{/with}}
