{{#with button}}
<button role="button" {{#if button-type}}type="{{button-type}}"{{/if}} class="{{#if label-text}}button-text{{/if}} {{#if label-icon}}button-icon{{/if}} {{button-class}}" {{#if button-slider}}item-slider="{{button-slider}}"{{/if}} {{#if button-attr}}{{button-attr}}{{/if}}>
  {{> @label}}
</button>
{{/with}}
