{{#with wrapper}}
<div {{#if wrapper-class}}class="{{wrapper-class}}"{{/if}}>
  {{> @input}}
  {{> @textarea}}
  {{> @select}}
  {{> @button}}
  {{> @link}}
  {{> @label}}
  {{> @fieldset}}
  {{> @form-wrapper}}
</div>
{{/with}}
