{{#with group-wrapper}}
<div {{#if group-wrapper-class}}class="{{group-wrapper-class}}"{{/if}}>
  {{> @article}}
  {{> @label}}
  {{> @input}}
  {{> @textarea}}
  {{> @select}}
  {{> @selector}}
  {{> @button}}
  {{> @button-link}}
  {{> @fieldset}}
  {{> @group-wrapper}}
</div>
{{/with}}
