<section class="map">
  <div class="map-wrap">
    <div class="mapbox"></div>
    <nav class="marker-menu">
      <a href="#" class="show-extern">
        <span i18n="open.in.google.maps">Google Maps trip planer</span>
        {{> @icon}}
      </a>
      <ul></ul>
    </nav>
    <div class="addressbox-wrap">
      <div class="addressbox"></div>
    </div>
  </div>
</section>