<div class="registration gamemaster">
  {{> @gamemaster-step1 config-step-1}}
  {{> @gamemaster-step2 config-step-2}}
  {{> @gamemaster-step3 config-step-3}}
  {{> @gamemaster-step4 config-step-4}}
</div>