<section class="flipper">
  <div class="flip-front">
    <!-- front content -->
    {{> @panel front}}
  </div>
  <div class="flip-back">
    <!-- back content -->
    {{> @panel back}}
  </div>
</section>