<section class="flip-container">
  <div class="front">
    <!-- front content -->
    {{> @panel front}}
  </div>
  <div class="back">
    <!-- back content -->
    {{> @panel back}}
  </div>
</section>