{{render '@header'}}
<main id="pagescroller">
  <section data-anchor="page1">
    {{> @panel1 panel1-config}}
  </section>
  <section data-anchor="page2">
    {{> @panel2 panel2-config}}
  </section>
  <section data-anchor="page3">
    {{> @panel3 panel3-config}}
  </section>
  <section data-anchor="page4">
    {{> @panel4 panel4-config}}
  </section>
</main>
{{render '@footer'}}
