{{render '@header'}}
<main id="pagescroller">
  <section class="flipper" data-anchor="page1">
    <div class="flip-front">
      <!-- front content -->
      {{> @panel0 panel0-config}}
    </div>
    <div class="flip-back">
      <!-- back content -->
      {{> @panel1 panel1-config}}

    </div>
  </section>
  <section class="flipper" data-anchor="page2">
    <div class="flip-front">
      <!-- front content -->
      {{> @panel0 panel0-config}}
    </div>
    <div class="flip-back">
      <!-- back content -->
      {{> @panel2 panel2-config}}
    </div>
  </section>
  <section class="flipper" data-anchor="page3">
    <div class="flip-front">
      <!-- front content -->
      {{> @panel0 panel0-config}}
    </div>
    <div class="flip-back">
      <!-- back content -->
      {{> @panel3 panel3-config}}
    </div>
  </section>
  <section class="flipper" data-anchor="page4">
    <div class="flip-front">
      <!-- front content -->
      {{> @panel0 panel0-config}}
    </div>
    <div class="flip-back">
      <!-- back content -->
      {{> @panel4 panel4-config}}
    </div>
  </section>
</main>
{{render '@footer'}}
