<div class="row container panel3">
  <div class="col-l-6">
    <section class="flipper">
      <div class="flip-front">
        <!-- front content -->
        {{> @label keep-me-posted-article-config}}
      </div>
      <div class="flip-back">
        <!-- back content -->
        {{> @label close-config}}
        {{> @keep-me-posted keep-me-posted-config}}
      </div>
    </section>
  </div>
  <div class="col-l-6">
    <section class="flipper">
      <div class="flip-front">
        <!-- front content -->
        {{> @label gamemaster-article-config}}
      </div>
      <div class="flip-back">
        <!-- back content -->
        {{> @label close-config}}
        {{> @gamemaster gamemaster-config}}
      </div>
    </section>
  </div>
</div>