<div class="row container panel3">
  <div class="col-l-10 col-xl-8 col-xxl-6">
    {{> @article article-config}}
  </div>
  <div class="col-l-10 col-xl-8 col-xxl-6">
    {{> @gamemaster gamemaster-config}}
  </div>
</div>