<div class="row container panel3">
  <div class="col-l-6">
    <section class="flipper">
      <div class="flip-front">
        <!-- front content -->
        flip me (gamer)
      </div>
      <div class="flip-back">
        <!-- back content -->
        <p flip-reset>Close Panel</p>
        {{> @keep-me-posted keep-me-posted-config}}
      </div>
    </section>
  </div>
  <div class="col-l-6">
    <section class="flipper">
      <div class="flip-front">
        <!-- front content -->
        flip me (gamemaster)
      </div>
      <div class="flip-back">
        <!-- back content -->
        <p flip-reset>Close Panel</p>
        {{> @gamemaster gamemaster-config}}
      </div>
    </section>
  </div>
</div>