<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #ffffff;"></section>
<aside>
<h3>White</h3>
<p class="color-id">ID: color--white</p>
<p class="color-hex">HEX: #ffffff</p>
<p class="color-rgb">RGB: 255/255/255</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #000000;"></section>
<aside>
<h3>Black</h3>
<p class="color-id">ID: color--black</p>
<p class="color-hex">HEX: #000000</p>
<p class="color-rgb">RGB: 0/0/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-1">
<section class="color-example" style="background-color: #fafafa;"></section>
<aside>
<h3>Black 5</h3>
<p class="color-id">ID: color--black-5</p>
<p class="color-hex">HEX: #fafafa</p>
<p class="color-rgb">RGB: 250/250/250</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #e5e5e5;"></section>
<aside>
<h3>Black 10</h3>
<p class="color-id">ID: color--black-10</p>
<p class="color-hex">HEX: #e5e5e5</p>
<p class="color-rgb">RGB: 229/229/229</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #cccccc;"></section>
<aside>
<h3>Black 20</h3>
<p class="color-id">ID: color--black-20</p>
<p class="color-hex">HEX: #cccccc</p>
<p class="color-rgb">RGB: 204/204/204</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #999999;"></section>
<aside>
<h3>Black 40</h3>
<p class="color-id">ID: color--black-40</p>
<p class="color-hex">HEX: #999999</p>
<p class="color-rgb">RGB: 153/153/153</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #666666;"></section>
<aside>
<h3>Black 60</h3>
<p class="color-id">ID: color--black-60</p>
<p class="color-hex">HEX: #666666</p>
<p class="color-rgb">RGB: 102/102/102</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #333333;"></section>
<aside>
<h3>Black 80</h3>
<p class="color-id">ID: color--black-80</p>
<p class="color-hex">HEX: #333333</p>
<p class="color-rgb">RGB: 51/51/51</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #ff0000;"></section>
<aside>
<h3>Red</h3>
<p class="color-id">ID: color--red</p>
<p class="color-hex">HEX: #ff0000</p>
<p class="color-rgb">RGB: 255/0/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-1">
<section class="color-example" style="background-color: #fa0000;"></section>
<aside>
<h3>Red 5</h3>
<p class="color-id">ID: color--red-5</p>
<p class="color-hex">HEX: #fa0000</p>
<p class="color-rgb">RGB: 250/0/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #e50000;"></section>
<aside>
<h3>Red 10</h3>
<p class="color-id">ID: color--red-10</p>
<p class="color-hex">HEX: #e50000</p>
<p class="color-rgb">RGB: 229/0/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #cc0000;"></section>
<aside>
<h3>Red 20</h3>
<p class="color-id">ID: color--red-20</p>
<p class="color-hex">HEX: #cc0000</p>
<p class="color-rgb">RGB: 204/0/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #990000;"></section>
<aside>
<h3>Red 40</h3>
<p class="color-id">ID: color--red-40</p>
<p class="color-hex">HEX: #990000</p>
<p class="color-rgb">RGB: 153/0/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #660000;"></section>
<aside>
<h3>Red 60</h3>
<p class="color-id">ID: color--red-60</p>
<p class="color-hex">HEX: #660000</p>
<p class="color-rgb">RGB: 102/0/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #330000;"></section>
<aside>
<h3>Red 80</h3>
<p class="color-id">ID: color--red-80</p>
<p class="color-hex">HEX: #330000</p>
<p class="color-rgb">RGB: 51/0/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #00ff00;"></section>
<aside>
<h3>Green</h3>
<p class="color-id">ID: color--green</p>
<p class="color-hex">HEX: #00ff00</p>
<p class="color-rgb">RGB: 0/255/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-1">
<section class="color-example" style="background-color: #00fa00;"></section>
<aside>
<h3>Green 5</h3>
<p class="color-id">ID: color--green-5</p>
<p class="color-hex">HEX: #00fa00</p>
<p class="color-rgb">RGB: 0/250/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #00e500;"></section>
<aside>
<h3>Green 10</h3>
<p class="color-id">ID: color--green-10</p>
<p class="color-hex">HEX: #00e500</p>
<p class="color-rgb">RGB: 0/229/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #00cc00;"></section>
<aside>
<h3>Green 20</h3>
<p class="color-id">ID: color--green-20</p>
<p class="color-hex">HEX: #00cc00</p>
<p class="color-rgb">RGB: 0/204/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #009900;"></section>
<aside>
<h3>Green 40</h3>
<p class="color-id">ID: color--green-40</p>
<p class="color-hex">HEX: #009900</p>
<p class="color-rgb">RGB: 0/153/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #006600;"></section>
<aside>
<h3>Green 60</h3>
<p class="color-id">ID: color--green-60</p>
<p class="color-hex">HEX: #006600</p>
<p class="color-rgb">RGB: 0/102/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #003300;"></section>
<aside>
<h3>Green 80</h3>
<p class="color-id">ID: color--green-80</p>
<p class="color-hex">HEX: #003300</p>
<p class="color-rgb">RGB: 0/51/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #0000ff;"></section>
<aside>
<h3>Blue</h3>
<p class="color-id">ID: color--blue</p>
<p class="color-hex">HEX: #0000ff</p>
<p class="color-rgb">RGB: 0/0/255</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-1">
<section class="color-example" style="background-color: #0000fa;"></section>
<aside>
<h3>Blue 5</h3>
<p class="color-id">ID: color--blue-5</p>
<p class="color-hex">HEX: #0000fa</p>
<p class="color-rgb">RGB: 0/0/250</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #0000e5;"></section>
<aside>
<h3>Blue 10</h3>
<p class="color-id">ID: color--blue-10</p>
<p class="color-hex">HEX: #0000e5</p>
<p class="color-rgb">RGB: 0/0/229</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #0000cc;"></section>
<aside>
<h3>Blue 20</h3>
<p class="color-id">ID: color--blue-20</p>
<p class="color-hex">HEX: #0000cc</p>
<p class="color-rgb">RGB: 0/0/204</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #000099;"></section>
<aside>
<h3>Blue 40</h3>
<p class="color-id">ID: color--blue-40</p>
<p class="color-hex">HEX: #000099</p>
<p class="color-rgb">RGB: 0/0/153</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #000066;"></section>
<aside>
<h3>Blue 60</h3>
<p class="color-id">ID: color--blue-60</p>
<p class="color-hex">HEX: #000066</p>
<p class="color-rgb">RGB: 0/0/102</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #000033;"></section>
<aside>
<h3>Blue 80</h3>
<p class="color-id">ID: color--blue-80</p>
<p class="color-hex">HEX: #000033</p>
<p class="color-rgb">RGB: 0/0/51</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #ffff00;"></section>
<aside>
<h3>Yellow</h3>
<p class="color-id">ID: color--yellow</p>
<p class="color-hex">HEX: #ffff00</p>
<p class="color-rgb">RGB: 255/255/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-1">
<section class="color-example" style="background-color: #fafa00;"></section>
<aside>
<h3>Yellow 5</h3>
<p class="color-id">ID: color--yellow-5</p>
<p class="color-hex">HEX: #fafa00</p>
<p class="color-rgb">RGB: 250/250/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #e5e500;"></section>
<aside>
<h3>Yellow 10</h3>
<p class="color-id">ID: color--yellow-10</p>
<p class="color-hex">HEX: #e5e500</p>
<p class="color-rgb">RGB: 229/229/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #cccc00;"></section>
<aside>
<h3>Yellow 20</h3>
<p class="color-id">ID: color--yellow-20</p>
<p class="color-hex">HEX: #cccc00</p>
<p class="color-rgb">RGB: 204/204/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #999900;"></section>
<aside>
<h3>Yellow 40</h3>
<p class="color-id">ID: color--yellow-40</p>
<p class="color-hex">HEX: #999900</p>
<p class="color-rgb">RGB: 153/153/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #666600;"></section>
<aside>
<h3>Yellow 60</h3>
<p class="color-id">ID: color--yellow-60</p>
<p class="color-hex">HEX: #666600</p>
<p class="color-rgb">RGB: 102/102/0</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #333300;"></section>
<aside>
<h3>Yellow 80</h3>
<p class="color-id">ID: color--yellow-80</p>
<p class="color-hex">HEX: #333300</p>
<p class="color-rgb">RGB: 51/51/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #00ffff;"></section>
<aside>
<h3>Cyan</h3>
<p class="color-id">ID: color--cyan</p>
<p class="color-hex">HEX: #00ffff</p>
<p class="color-rgb">RGB: 0/255/255</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-1">
<section class="color-example" style="background-color: #00fafa;"></section>
<aside>
<h3>Cyan 5</h3>
<p class="color-id">ID: color--cyan-5</p>
<p class="color-hex">HEX: #00fafa</p>
<p class="color-rgb">RGB: 0/250/250</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #00e5e5;"></section>
<aside>
<h3>Cyan 10</h3>
<p class="color-id">ID: color--cyan-10</p>
<p class="color-hex">HEX: #00e5e5</p>
<p class="color-rgb">RGB: 0/229/229</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #00cccc;"></section>
<aside>
<h3>Cyan 20</h3>
<p class="color-id">ID: color--cyan-20</p>
<p class="color-hex">HEX: #00cccc</p>
<p class="color-rgb">RGB: 0/204/204</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #009999;"></section>
<aside>
<h3>Cyan 40</h3>
<p class="color-id">ID: color--cyan-40</p>
<p class="color-hex">HEX: #009999</p>
<p class="color-rgb">RGB: 0/153/153</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #006666;"></section>
<aside>
<h3>Cyan 60</h3>
<p class="color-id">ID: color--cyan-60</p>
<p class="color-hex">HEX: #006666</p>
<p class="color-rgb">RGB: 0/102/102</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #003333;"></section>
<aside>
<h3>Cyan 80</h3>
<p class="color-id">ID: color--cyan-80</p>
<p class="color-hex">HEX: #003333</p>
<p class="color-rgb">RGB: 0/51/51</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #ff00ff;"></section>
<aside>
<h3>Purple</h3>
<p class="color-id">ID: color--purple</p>
<p class="color-hex">HEX: #ff00ff</p>
<p class="color-rgb">RGB: 255/0/255</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-1">
<section class="color-example" style="background-color: #fa00fa;"></section>
<aside>
<h3>Purple 5</h3>
<p class="color-id">ID: color--purple-5</p>
<p class="color-hex">HEX: #fa00fa</p>
<p class="color-rgb">RGB: 250/0/250</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #e500e5;"></section>
<aside>
<h3>Purple 10</h3>
<p class="color-id">ID: color--purple-10</p>
<p class="color-hex">HEX: #e500e5</p>
<p class="color-rgb">RGB: 229/0/229</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #cc00cc;"></section>
<aside>
<h3>Purple 20</h3>
<p class="color-id">ID: color--purple-20</p>
<p class="color-hex">HEX: #cc00cc</p>
<p class="color-rgb">RGB: 204/0/204</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #990099;"></section>
<aside>
<h3>Purple 40</h3>
<p class="color-id">ID: color--purple-40</p>
<p class="color-hex">HEX: #990099</p>
<p class="color-rgb">RGB: 153/0/153</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #660066;"></section>
<aside>
<h3>Purple 60</h3>
<p class="color-id">ID: color--purple-60</p>
<p class="color-hex">HEX: #660066</p>
<p class="color-rgb">RGB: 102/0/102</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #330033;"></section>
<aside>
<h3>Purple 80</h3>
<p class="color-id">ID: color--purple-80</p>
<p class="color-hex">HEX: #330033</p>
<p class="color-rgb">RGB: 51/0/51</p>
</aside>
</div>
</div>
