<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #ffffff;"></section>
<aside>
<h3>Weiss</h3>
<p class="color-id">ID: color--white</p>
<p class="color-hex">HEX: #ffffff</p>
<p class="color-rgb">RGB: 255/255/255</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #000000;"></section>
<aside>
<h3>Schwarz</h3>
<p class="color-id">ID: color--black</p>
<p class="color-hex">HEX: #000000</p>
<p class="color-rgb">RGB: 0/0/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-1">
<section class="color-example" style="background-color: #fafafa;"></section>
<aside>
<h3>Schwarz 5</h3>
<p class="color-id">ID: color--black-5</p>
<p class="color-hex">HEX: #fafafa</p>
<p class="color-rgb">RGB: 250/250/250</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #e5e5e5;"></section>
<aside>
<h3>Schwarz 10</h3>
<p class="color-id">ID: color--black-10</p>
<p class="color-hex">HEX: #e5e5e5</p>
<p class="color-rgb">RGB: 229/229/229</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #cccccc;"></section>
<aside>
<h3>Schwarz 20</h3>
<p class="color-id">ID: color--black-20</p>
<p class="color-hex">HEX: #cccccc</p>
<p class="color-rgb">RGB: 204/204/204</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #999999;"></section>
<aside>
<h3>Schwarz 40</h3>
<p class="color-id">ID: color--black-40</p>
<p class="color-hex">HEX: #999999</p>
<p class="color-rgb">RGB: 153/153/153</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #666666;"></section>
<aside>
<h3>Schwarz 60</h3>
<p class="color-id">ID: color--black-60</p>
<p class="color-hex">HEX: #666666</p>
<p class="color-rgb">RGB: 102/102/102</p>
</aside>
</div>
<div class="color-item level-1">
<section class="color-example" style="background-color: #333333;"></section>
<aside>
<h3>Schwarz 80</h3>
<p class="color-id">ID: color--black-80</p>
<p class="color-hex">HEX: #333333</p>
<p class="color-rgb">RGB: 51/51/51</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #ff0000;"></section>
<aside>
<h3>Signal Red</h3>
<p class="color-id">ID: color--red</p>
<p class="color-hex">HEX: #ff0000</p>
<p class="color-rgb">RGB: 255/0/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #0000ff;"></section>
<aside>
<h3>Signal Blue</h3>
<p class="color-id">ID: color--blue</p>
<p class="color-hex">HEX: #0000ff</p>
<p class="color-rgb">RGB: 0/0/255</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #00ff00;"></section>
<aside>
<h3>Signal Green</h3>
<p class="color-id">ID: color--green</p>
<p class="color-hex">HEX: #00ff00</p>
<p class="color-rgb">RGB: 0/255/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #ffff00;"></section>
<aside>
<h3>Signal Yellow</h3>
<p class="color-id">ID: color--yellow</p>
<p class="color-hex">HEX: #ffff00</p>
<p class="color-rgb">RGB: 255/255/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #f49e00;"></section>
<aside>
<h3>Signal Orange</h3>
<p class="color-id">ID: color--orange</p>
<p class="color-hex">HEX: #f49e00</p>
<p class="color-rgb">RGB: 244/158/0</p>
</aside>
</div>
</div>
<div class="color-items">
<div class="color-item level-0">
<section class="color-example" style="background-color: #a5c400;"></section>
<aside>
<h3>Signal Lightgreen</h3>
<p class="color-id">ID: color--lightgreen</p>
<p class="color-hex">HEX: #a5c400</p>
<p class="color-rgb">RGB: 165/196/0</p>
</aside>
</div>
</div>
