<div class="row panel1 fp-auto-height-responsive">
  <div class="col-xs-12">
    {{> @figure emotion}}
    <div class="cover">
      {{> @icon logo}}
      {{!-- <h2>6. Oktober 2018</h2>
      <h3>"vo Eis bis Eis"</h3> --}}
    </div>
  </div>
</div>