<div class="row row--start panel1 fp-auto-height-responsive">
  <a id="content-1" pagescroller></a>
  <div class="col-xs-12">
    {{> @figure emotion}}
    <div class="cover">
      <h1>{{> @icon logo}}</h1>
      <h2 i18n="panel1.h2">6. October 2018</h2>
      <h3 i18n="panel1.h3">from Saturday, 1 p.m. <br />to Sunday, 1 a.m.</h3>
    </div>
  </div>
</div>