.panel {
  &.background-lightgrey {
    background: $color--black-10;
  }

  &.background-grey {
    background: $color--black-20;
  }

  &.background-darkgrey {
    background: $color--black-40;
  }
}