.page-header {
  position: fixed;
  z-index: 6000;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;

  ul.i18n-selector {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 0 0.4rem;
    background: $color--white;

    li {
      display: inline-block;
      margin: 0.4rem 0.8rem 0;

      a {
        opacity: 0.4;
        text-decoration: none;

        &:hover {
          opacity: 0.6;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }
}
