[item-slider] {
  overflow: hidden;
  position: relative;

  .labelstrong {
    z-index: 10;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 200ms, color 200ms;
  }

  // Slider Positioning
  &[item-slider~='top'] {
    &::before {
      transform: translateY(-100%);
    }

    &:hover {
      &::before {
        transform: translateY(0%);
      }
    }
  }

  &[item-slider~='bottom'] {
    &::before {
      transform: translateY(100%);
    }

    &:hover {
      &::before {
        transform: translateY(0%);
      }
    }
  }

  &[item-slider~='right'] {
    &::before {
      transform: translateX(100%);
    }

    &:hover {
      &::before {
        transform: translateX(0%);
      }
    }
  }

  &[item-slider~='left'] {
    &::before {
      transform: translateX(-100%);
    }

    &:hover {
      &::before {
        transform: translateX(0%);
      }
    }
  }

  // Slider Coloring
  &[item-slider~='white'] {
    &::before {
      background-color: $color--white;
    }

    &:hover {
      strong {
        color: $color--black;
      }
    }
  }

  &[item-slider~='black'] {
    &::before {
      background-color: $color--black;
    }

    &:hover {
      strong {
        color: $color--white;
      }
    }
  }

  &[item-slider~='yellow'] {
    &::before {
      background-color: $color--yellow;
    }

    &:hover {
      strong {
        color: $color--black;
      }
    }
  }
}
