.panel3 {
  min-height: 100vh;
  padding: 4rem 0 8rem;

  .panel.data {
    padding: 0 4rem 4rem;
  }

  .panel.map {
    padding: 0 0 4rem;
  }

  @media screen and (min-width: #{$mq-l}) {
    padding: 0;
    height: 100%;

    [class*='col-'] {
      height: 100%;
    }

    .panel {
      padding: 4rem 4rem 12rem;
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-content: center;
  }
}
