<div class="row row--center stage panel3">
  <div class="col-m-6">
    <section class="panel data">
      {{> @article article-info-config}}
    </section>
  </div>
  <div class="col-m-6">
    <section class="panel map">
      {{> @map}}
    </section>
  </div>
</div>
