<div class="row container panel3">
  <div class="col-m-6">
    <section class="panel data">
      {{> @article article-info-config}}
    </section>
  </div>
  <div class="col-m-6">
    <section class="panel">
      {{> @map}}
    </section>
  </div>
</div>
