.player {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  .registration-step {
    display: none;
    opacity: 0;
    position: relative;
    z-index: 1;
    transition: opacity 300ms ease-in-out;

    &.active {
      display: block;
      opacity: 1;
      z-index: 100;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


.registration-step {
  background: $color--black-5;
  // border-radius: 1rem;
  padding: 4rem 4rem 0;
  box-shadow: inset 0 0 4rem rgba($color--black, 0.2), 0 0 1rem rgba($color--black, 0.4);

  &.step-3 {
    padding-bottom: 4rem;
  }
}
