.player {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  .registration-step {
    display: none;
    opacity: 0;
    position: relative;
    z-index: 1;
    transition: opacity 300ms ease-in-out;

    &.active {
      display: block;
      opacity: 1;
      z-index: 100;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.registration-step {
  background: $color--black-5;
  // border-radius: 1rem;
  padding: 4rem 4rem 0;
  box-shadow: inset 0 0 4rem rgba($color--black, 0.2), 0 0 1rem rgba($color--black, 0.4);

  &.step-3 {
    padding-bottom: 4rem;
  }
}

.games-selector ul li {
  a[disabled] {
    opacity: 0.4;
  }

  h4 {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;

    small {
      font-weight: 400;
      color: $color--black;
      font-size: 1.2rem;

      i.icon {
        margin: 0 0.4rem;
        transform: translateY(0.4rem);

        svg {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }

  p {
    font-size: 1.2rem;
  }

  ul {
    margin: 0;

    li {
      margin: 0;
      font-size: 1.2rem;
    }
  }
}
