<nav class="main-nav {{modifier}}">
  <ul class="main-nav__list">
    {{#each items}}
      <li class="main-nav__first">
        <a href="#" class="main-nav__toggler">Lorem Ipsum</a>
        <ul class="main-nav__sub">
          {{#each items}}
            <li><a href="#" class="main-nav__link">Lorem Ipsum</a></li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</nav>
