$font--family: 'Ubuntu', Helvetica, Arial, sans-serif;
// For more information see: https://discourse.wicg.io/t/more-font-weight-names/892
$font--weight-thin: 100;
$font--weight-extralight: 200;
$font--weight-light: 300;
$font--weight-regular: 400;
$font--weight-medium: 500;
$font--weight-semibold: 600;
$font--weight-bold: 700;
$font--weight-extrabold: 800;
$font--weight-black: 900;

html,
body {
  font-family: $font--family;
  font-weight: $font--weight-regular;
  font-style: normal;
  font-size: $document--font-size;
  line-height: 1.6;
  color: $color--black-80;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
