<section class="for-demonstration-only">
  <blockquote cite="http://www.imdb.com/character/ch0000672/quotes">
    <p>Excepturi cumque error ab alias. accusantium praesentium sed nihil voluptas iusto. et est rem quia eos. fugit
      ducimus accusamus rerum nihil accusantium omnis nihil et et et. ad omnis totam aut incidunt molestiae ullam hic
      voluptatem et et nisi sed. praesentium et exercitationem aliquid earum suscipit occaecati est. odit laboriosam nam
      quis dolores officiis sapiente eos ipsum voluptates</p>
    <footer>
      Enim accusantium repellendus occaecati quis nulla cumque quia consequatur quo velit ut
    </footer>
  </blockquote>
</section>
<style>
  /* Local styles, not for production */
  section.for-demonstration-only {
    border-top: 1px solid magenta;
  }
  section.for-demonstration-only > * {
    background: white;
  }
  body {
    background: rgba(255, 0, 255, 0.2);
  }
</style>