<p style="color:magenta;">Magenta border show box sizing only. It isn't part of any element.</p>
<div style="border:1px solid magenta">
	<h1>A short H1 heading (smallHuge Bold)</h1>
	<h1 class="fw-light">A short H1 heading (smallHuge Light)</h1>
</div>
<div style="border:1px solid magenta">
	<h2>A short H2 heading (biggerBig Bold)</h2>
	<h2 class="fw-light">A short H2 heading (biggerBig Light)</h2>
</div>
<div style="border:1px solid magenta">
	<h3>A short H3 heading (smallBig Bold)</h3>
</div>
<div style="border:1px solid magenta">
	<h4>A short H4 heading (smallBig light)</h4>
</div>
<div style="border:1px solid magenta">
	<h5>A short H5 heading (Medium Bold)</h5>
</div>
<div style="border:1px solid magenta">
	<h6>A short H6 heading (Medium Light)</h6>
</div>
