<section class="for-demonstration-only">
  <p><a href="#">This is a text link</a></p>
</section>

<section class="for-demonstration-only">
  <p><strong>Strong is used to indicate strong importance</strong></p>
</section>

<section class="for-demonstration-only">
  <p><em>This text has added emphasis</em></p>
</section>

<section class="for-demonstration-only">
  <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
</section>

<section class="for-demonstration-only">
  <p>The <i>i element</i> is text that is set off from the normal text</p>
</section>

<section class="for-demonstration-only">
  <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
</section>

<section class="for-demonstration-only">
  <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
</section>

<section class="for-demonstration-only">
  <p><s>This text has a strikethrough</s></p>
</section>

<section class="for-demonstration-only">
  <p>Superscript<sup>®</sup></p>
</section>

<section class="for-demonstration-only">
  <p>Subscript for things like H<sub>2</sub>O</p>
</section>

<section class="for-demonstration-only">
  <p><small>This small text is small for for fine print, etc.</small></p>
</section>

<section class="for-demonstration-only">
  <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
</section>

<section class="for-demonstration-only">
  <p>Keybord input: <kbd>Cmd</kbd></p>
</section>

<section class="for-demonstration-only">
  <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
</section>

<section class="for-demonstration-only">
  <p><cite>This is a citation</cite></p>
</section>

<section class="for-demonstration-only">
  <p>The <dfn>dfn element</dfn> indicates a definition.</p>
</section>

<section class="for-demonstration-only">
  <p>The <mark>mark element</mark> indicates a highlight</p>
</section>

<section class="for-demonstration-only">
  <p><code>This is what inline code looks like.</code></p>
</section>

<section class="for-demonstration-only">
  <p><samp>This is sample output from a computer program</samp></p>
</section>

<section class="for-demonstration-only">
  <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
</section>
<style>
  /* Local styles, not for production */
  section.for-demonstration-only {
    border-top: 1px solid magenta;
  }

  section.for-demonstration-only>* {
    background: white;
  }

  body {
    background: rgba(255, 0, 255, 0.2);
  }
</style>