<div class="row">
	<div class="col-xsm-6">
		<h3>Blank list text</h3>
		<h6>Unordered</h6>
			<ul>
				<li>List item with a much longer description or more content.</li>
				<li>List item</li>
				<li>List item</li>
				<li>
					Nested Header
					<ul>
						<li>Nested List Item</li>
						<li>Nested List Item</li>
						<li>Nested List Item</li>
					</ul>
				</li>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ul>

			<h6>Ordered</h6>
			<ol>
				<li>List item with a much longer description or more content.</li>
				<li>List item</li>
				<li>List item</li>
				<li>
					Nested Header
					<ol>
						<li>Nested List Item</li>
						<li>Nested List Item</li>
						<li>Nested List Item</li>
					</ol>
				</li>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ol>
	</div>
	<div class="col-xsm-6">
		<h3>Paragraph list text</h3>
		<h6>Unordered</h6>
		<ul>
			<li><p>List item with a much longer description or more content.</p></li>
			<li><p>List item</p></li>
			<li><p>List item</p></li>
			<li>
				<p>Nested Header</p>
				<ul>
					<li><p>Nested List Item</p></li>
					<li><p>Nested List Item</p></li>
					<li><p>Nested List Item</p></li>
				</ul>
			</li>
			<li><p>List item</p></li>
			<li><p>List item</p></li>
			<li><p>List item</p></li>
		</ul>

		<h6>Ordered</h6>
		<ol>
			<li><p>List item with a much longer description or more content.</p></li>
			<li><p>List item</p></li>
			<li><p>List item</p></li>
			<li>
				<p>Nested Header</p>
				<ol>
					<li><p>Nested List Item</p></li>
					<li><p>Nested List Item</p></li>
					<li><p>Nested List Item</p></li>
				</ol>
			</li>
			<li><p>List item</p></li>
			<li><p>List item</p></li>
			<li><p>List item</p></li>
		</ol>
	</div>
</div>