<div class="row">
  <div class="col-xs-6">
    <h3>Blank list text</h3>
    <h6>Unordered</h6>
    <section class="for-demonstration-only">
      <ul>
        <li>List item with a much longer description or more content.</li>
        <li>List item</li>
        <li>List item</li>
        <li>
          Nested Header
          <ul>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
          </ul>
        </li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </section>

    <h6>Ordered</h6>
    <section class="for-demonstration-only">
      <ol>
        <li>List item with a much longer description or more content.</li>
        <li>List item</li>
        <li>List item</li>
        <li>
          Nested Header
          <ol>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
          </ol>
        </li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ol>
    </section>
  </div>
  <div class="col-xs-6">
    <h3>Paragraph list text</h3>
    <h6>Unordered</h6>
    <section class="for-demonstration-only">
      <ul>
        <li>
          <p>List item with a much longer description or more content.</p>
        </li>
        <li>
          <p>List item</p>
        </li>
        <li>
          <p>List item</p>
        </li>
        <li>
          <p>Nested Header</p>
          <ul>
            <li>
              <p>Nested List Item</p>
            </li>
            <li>
              <p>Nested List Item</p>
            </li>
            <li>
              <p>Nested List Item</p>
            </li>
          </ul>
        </li>
        <li>
          <p>List item</p>
        </li>
        <li>
          <p>List item</p>
        </li>
        <li>
          <p>List item</p>
        </li>
      </ul>
    </section>

    <h6>Ordered</h6>
    <section class="for-demonstration-only">
      <ol>
        <li>
          <p>List item with a much longer description or more content.</p>
        </li>
        <li>
          <p>List item</p>
        </li>
        <li>
          <p>List item</p>
        </li>
        <li>
          <p>Nested Header</p>
          <ol>
            <li>
              <p>Nested List Item</p>
            </li>
            <li>
              <p>Nested List Item</p>
            </li>
            <li>
              <p>Nested List Item</p>
            </li>
          </ol>
        </li>
        <li>
          <p>List item</p>
        </li>
        <li>
          <p>List item</p>
        </li>
        <li>
          <p>List item</p>
        </li>
      </ol>
    </section>
  </div>
</div>
<style>
  /* Local styles, not for production */
  section.for-demonstration-only {
    border-top: 1px solid magenta;
  }

  section.for-demonstration-only>* {
    background: white;
  }

  body {
    background: rgba(255, 0, 255, 0.2);
  }
</style>