<section class="for-demonstration-only">
  <p>The difficulty lies, not in the new ideas, but in escaping the old ones, which ramify, for those brought up as
    most of us have been, into every corner of our minds. The difficulty lies, not in the new ideas, but in escaping
    the old ones, which ramify, for those brought up as most of us have been, into every corner of our minds. Into
    every corner of our minds. The difficulty lies, not in the new ideas, but in escaping the old ones, which ramify,
    for those brought up as most of us have been, into every corner of our minds.</p>
</section>
<section class="for-demonstration-only">
  <p>The difficulty lies, not in the new ideas, but in escaping the old ones. Into every corner of our minds. The
    difficulty lies, not in the new ideas, but in escaping the old ones, which ramify, for those brought up as most of
    us have been, into every corner of our minds.</p>
</section>
<section class="for-demonstration-only">
  <p>The difficulty lies, not in the new ideas, but in escaping the old ones, which ramify, for those brought up as
    most of us have been, into every corner of our minds. The difficulty lies, not in the new ideas, but in escaping
    the old ones, which ramify, for those brought up as most of us have been, into every corner of our minds. Into
    every corner of our minds. The difficulty lies, not in the new ideas, but in escaping the old ones, which ramify,
    for those brought up as most of us have been, into every corner of our minds. The difficulty lies, not in the new
    ideas, but in escaping the old ones, which ramify, for those brought up as most of us have been, into every corner
    of our minds. The difficulty lies, not in the new ideas, but in escaping the old ones, which ramify, for those
    brought up as most of us have been, into every corner of our minds. Into every corner of our minds. The difficulty
    lies, not in the new ideas, but in escaping the old ones, which ramify, for those brought up as most of us have
    been, into every corner of our minds.</p>
</section>
<style>
  /* Local styles, not for production */
  section.for-demonstration-only {
    border-top: 1px solid magenta;
  }

  section.for-demonstration-only>* {
    background: white;
  }

  body {
    background: rgba(255, 0, 255, 0.2);
  }
</style>