[role='checkbox'] {
  padding-left: 1.6rem;

  label {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 4.2rem;

    strong {
      width: 100%;
      padding: 0.4rem 0;
      text-align: start;
      order: 2;
      font-size: 1.6rem;
      line-height: 1.6;
      color: $color--black;
    }
  }

  // Reset Default View
  input {
    visibility: hidden;
    position: absolute;

    & ~ label {
      cursor: pointer;

      strong {
        padding-left: 3rem;
      }
    }

    & + label {
      position: relative;
      top: 0;
      left: 0;
      color: $color--black-60;

      strong {
        color: $color--black-60;

        &::before {
          content: '';
          display: block;
          position: absolute;
          z-index: 100;
          top: 0.2rem;
          left: 0;
          min-width: 2.4rem;
          min-height: 2.4rem;
          order: 1;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0.2rem;
          left: 0;
          min-width: 2.4rem;
          min-height: 2.4rem;
          border: 0.2rem solid $color--black-60;
          border-radius: 0.2rem;
          order: 1;
        }
      }
    }

    &[disabled] ~ label {
      color: $color--black-20;
      cursor: default;

      strong {
        color: $color--black-40;

        &::after {
          border-color: $color--black-40;
        }
      }
    }

    &:not([disabled]) {
      &:checked + label {
        color: $color--black;

        strong {
          color: $color--black;

          &::after {
            border-color: $color--black;
            box-shadow: inset 0 -0.1rem 0.4rem #e4e4e4, inset 0 0 0.2rem $color--black-80, inset 0 0 0 0.3rem $color--white;
          }

          &::before {
            border: 0;
            background: no-repeat center center;
            background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="' + $color--black + '" d="M12.667 24.533l-7.6-7.6 1.867-1.867 5.733 5.733 12.4-12.4 1.867 1.867z"></path></svg>');
          }
        }
      }
    }
  }

  input[required] + label {
    position: relative;

    &::after {
      content: '*';
      display: inline-block;
      position: absolute;
      top: -0.6rem;
      left: -2rem;
      font-size: 3rem;
      color: $color--black-20;
    }
  }
}
