.panel4 {
  padding: 4rem 0 8rem;

  .panel {
    padding: 0 4rem 4rem;
  }

  @media screen and (min-width: #{$mq-l}) {
    padding: 0;
    height: 100%;

    [class*='col-'] {
      height: 100%;
    }

    .panel {
      padding: 4rem 4rem 12rem;
    }
  }

  .form-button {
    @include btn-border-drawing($color--cyan-40, $color--yellow-20, 0.4rem, bottom, left, 100ms);

    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 1.2rem 4.2rem;
    border-radius: 0.4rem;
    border: 0.2rem solid transparent;
    outline: none;

    label {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }

    &:active {
      border: 0.2rem solid $color--cyan-40;
    }
  }

  article {
    &.headline {
      position: relative;

      header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateX(-2rem);
        background: $color--cyan-40;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 7rem;
          color: $color--black-5;
          text-shadow: 0 0 0.8rem $color--black-80;
        }
      }
    }
  }

  i.icon {
    &.gamer,
    &.gamemaster {
      svg {
        width: 40%;
        height: auto;
        min-width: 24rem;
        max-width: 46rem;
      }
    }


    &.gamer {
      svg {
        fill: $color--black-20;
      }
    }
  }

  .flipper {
    padding: 0 4rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    min-height: 50vh;

    .flip-front,
    .flip-back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &.no-flip {
      min-height: 0;
      opacity: 0;
    }

    &.flip {
      width: 100%;
    }

    @media screen and (min-width: #{$mq-l}) {
      width: 40vw;
      height: 80vh;
    }
  }

  & > [class*=col-].is-flipped {
    max-width: initial;
    max-height: 100vh;
  }

  & > [class*=col-].is-not-flipped {
    max-width: initial;
    max-height: 0;
    overflow: hidden;
  }


  @media screen and (min-width: #{$mq-l}) {
    & > [class*=col-].is-flipped {
      &:nth-of-type(2) {
        .flip {
          margin-left: 0;
          left: 0;
        }
      }

      &:nth-of-type(3) {
        .flip {
          margin-left: -50%;
          left: 50%;
        }
      }
    }

    & > [class*=col-].is-not-flipped {
      overflow: hidden;
    }
  }
}