<div class="row container panel4">
  <div class="col-l-12">
    {{> @article panel4-article-config}}
  </div>
  <div class="col-l-6">
    <section class="flipper">
      <div class="flip-front">
        <!-- front content -->
        {{> @icon gamer}}
        {{> @article gamer-article-config}}
        {{> @label keep-me-posted-label-config}}
      </div>
      <div class="flip-back">
        <!-- back content -->
        {{> @label close-config}}
        {{> @keep-me-posted keep-me-posted-config}}
      </div>
    </section>
  </div>
  <div class="col-l-6">
    <section class="flipper">
      <div class="flip-front">
        <!-- front content -->
        {{> @icon gamemaster}}
        {{> @article gamemaster-article-config}}
        {{> @label gamemaster-label-config}}
      </div>
      <div class="flip-back">
        <!-- back content -->
        {{> @label close-config}}
        {{> @gamemaster gamemaster-config}}
      </div>
    </section>
  </div>
</div>