<main id="fullpage">
  <section data-anchor="page1">
    {{> @article}}
  </section>
  <section data-anchor="page2">
    {{> @article}}
  </section>
  <section data-anchor="page3">
    {{> @article}}
  </section>
  <section data-anchor="page4">
    {{> @article}}
  </section>
</main>