<div id="fullpage">
  <section class="section" data-anchor="page1">
    {{> @article}}
  </section>
  <section class="section" data-anchor="page2">
    {{> @article}}
  </section>
  <section class="section" data-anchor="page3">
    {{> @article}}
  </section>
  <section class="section" data-anchor="page4">
    {{> @article}}
  </section>
</div>