<main>
  <section>
    <a id="page1" pagescroller>Page 1</a>
    {{> @article}}
  </section>
  <section>
    <a id="page2" pagescroller>Page 2</a>
    {{> @article}}
  </section>
  <section>
    <a id="page3" pagescroller>Page 3</a>
    {{> @article}}
  </section>
  <section>
    <a id="page4" pagescroller>Page 4</a>
    {{> @article}}
  </section>
</main>