<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="./">
        <img src="{{path '/images/logo_de.svg'}}" alt="logo"/>
      </a>
    </div>
    <div class="header__content">
      <div class="header__nav">
        {{render '@main-nav'}}
      </div>
    </div>
  </div>
</header>
